@import url('https://fonts.googleapis.com/css2?family=Inter&family=Raleway&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --prussianBlue: #172A3A;
    --warmBlack: #004346;
    --blizzardBlue: #98DFEA;
    --tiffanyblue: #07BEB8;
    --paleSilver: #D6C9C9;
}

.container > h1 {
    margin-top: 2rem;
}

/* Navbar Styling */
.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    z-index: 1;
    transition-timing-function: ease;
    transition: all 0.2s ease;
}
.nav-transparent {
    background: none;
    box-shadow: none;
}
.nav-solid {
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 3px 7.45px rgba(0, 0, 0, 0.15);
}
.nav-logo-wrapper {
    display: flex;
    align-items: center;
    color: black;
    line-height: 0;
}
.nav-logo {
    margin-left: 2rem;
    font-size: 2rem;
    cursor: pointer;
}
.nav-title {
    margin-left: 0.75rem;
    font-size: 1.7rem;
    font-weight: 500;
    cursor: default;
}
.nav-links {
    margin-right: 2rem;
    display: flex;
}
.nav-links li {
    list-style: none;
}
.nav-links li a {
    text-decoration: none;
    color: black;
    margin-right: 2rem;
    position: relative;
    padding-block: 0.25rem;
}

/* Navbar Slide-in Animations */
.nav-links li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: black;
    height: .1rem;
    width: 100%;
    transform-origin: right bottom;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.nav-links li a:hover::after,
.nav-links li a:active::after {
    transform: scaleX(1);
    transform-origin: left bottom;
    transition: transform 0.3s ease;
}

/* Banner Styling */
.banner {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url("./static-image/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-title {
    font-size: 2.3rem;
    text-align: center;
}


/* About Styling */
.about {
    height: 100vh;
}
.about-title {
    margin-left: 2rem;
    margin-top: 1rem;
}